:root {
    --background-color-dark: #2B1C2F;
    --background-color-light: #AF9B91;
    --sun-color: #FFB703;
    --accent-color: #FFFFFF;
}

body {
    width: 20rem;
    background-color: var(--background-color-light);
    padding-bottom: 10px;
    transition: 0.3s;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

h1 {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: var(--accent-color);
}

p {
    color: var(--accent-color);
}

.switch-container {
    display: flex;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--accent-color);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sun-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider:before {
    background-color: var(--background-color-dark);
    transform: translateX(26px);
}

.dark-mode {
    background-color: var(--background-color-dark)
}