:root {
    --background-color: #2B1C2F;
    --element-color: #143F46;
    --element-addition: #2A695E;
    --text-addition: #8D8171;
    --text-color: #CBB89A;
}

body {
    width: 20rem;
    background-color: var(--background-color);
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    color: var(--text-color);
}
/*
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: var(--element-color);
    color: var(--text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: transform 0.2s ease;
}

button:active {
    transform: scale(80%);
}
 */

.switch-container {
    display: flex;
    justify-content: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--element-color);
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--text-color);
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--element-addition);
}

input:checked + .slider:before {
    transform: translateX(26px);
}